.cnt {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 45%;
  margin: 0.5rem;
  min-width: 250px;
  padding: 2rem;
  background-color: rgb(144, 143, 143);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.city {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #091f43;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.temperature {
  display: flex;
  align-items: flex-start;
  color: #1e2431;
  font-weight: 700;
  span {
    margin-top: 5px;
    font-size: 2rem;
    line-height: 1;
  }
}
.tempnum {
  font-size: 5rem;
  line-height: 1;
}

.description {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #1d2331;
}
.image {
  img {
    transform: scale(1.2);
  }
}

.loading {
  padding: 0.5rem;
  color: #fff;
  font-weight: 700;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
